openapi: 3.2.0
info:
  title: Matomo Reporting API for plugin Transitions API
  version: 1.0.0
  description: Provides API methods for transition reports around a specific page action.
servers:
- url: https://demo-proxy.innocraft.cloud/
  description: Current Matomo instance
security:
- MatomoToken: []
tags:
- name: Transitions
  description: Provides API methods for transition reports around a specific page action.
paths:
  /index.php?module=API&method=Transitions.getTransitionsForPageTitle:
    get:
      tags:
      - Transitions
      description: Returns transition data for the specified page title.
      operationId: Transitions.getTransitionsForPageTitle
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: pageTitle
        in: query
        description: The page title to analyze.
        required: true
        schema:
          type: string
          example: Pricing
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: period
        in: query
        description: The period to process, processes data for the period containing the specified date.
        required: true
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - year
          - range
          example: day
      - name: date
        in: query
        description: The date or date range to process. 'YYYY-MM-DD', magic keywords (today, yesterday, lastWeek, lastMonth, lastYear), or date range (ie, 'YYYY-MM-DD,YYYY-MM-DD', lastX, previousX).
        required: true
        schema:
          type: string
          example: yesterday
      - name: segment
        in: query
        description: 'Custom segment to filter the report. Example: "referrerName==example.com" Supports AND (;) and OR (,) operators.'
        required: false
        schema:
          type: string
      - name: limitBeforeGrouping
        in: query
        description: Maximum number of transition rows to keep before grouping the remainder.
        required: false
        schema:
          oneOf:
          - type: integer
            default: 0
          - type: string
            default: '0'
      responses:
        '200':
          description: 'Transition metrics and related referrer/action tables for the requested page title.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Transitions.getTransitionsForPageUrl:
    get:
      tags:
      - Transitions
      description: Returns transition data for the specified page URL.
      operationId: Transitions.getTransitionsForPageUrl
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: pageUrl
        in: query
        description: The page URL to analyze.
        required: true
        schema:
          type: string
          example: https://example.org/pricing
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: period
        in: query
        description: The period to process, processes data for the period containing the specified date.
        required: true
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - year
          - range
          example: day
      - name: date
        in: query
        description: The date or date range to process. 'YYYY-MM-DD', magic keywords (today, yesterday, lastWeek, lastMonth, lastYear), or date range (ie, 'YYYY-MM-DD,YYYY-MM-DD', lastX, previousX).
        required: true
        schema:
          type: string
          example: yesterday
      - name: segment
        in: query
        description: 'Custom segment to filter the report. Example: "referrerName==example.com" Supports AND (;) and OR (,) operators.'
        required: false
        schema:
          type: string
      - name: limitBeforeGrouping
        in: query
        description: Maximum number of transition rows to keep before grouping the remainder.
        required: false
        schema:
          oneOf:
          - type: integer
            default: 0
          - type: string
            default: '0'
      responses:
        '200':
          description: 'Transition metrics and related referrer/action tables for the requested page URL.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Transitions.getTransitionsForAction:
    get:
      tags:
      - Transitions
      description: Returns transition data for the specified page action.
      operationId: Transitions.getTransitionsForAction
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: actionName
        in: query
        description: The page URL or title to analyze.
        required: true
        schema:
          type: string
          example: Pricing Page
      - name: actionType
        in: query
        description: Whether the action name is a URL or title.
        required: true
        schema:
          type: string
          enum:
          - url
          - title
          example: url
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: period
        in: query
        description: The period to process, processes data for the period containing the specified date.
        required: true
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - year
          - range
          example: day
      - name: date
        in: query
        description: The date or date range to process. 'YYYY-MM-DD', magic keywords (today, yesterday, lastWeek, lastMonth, lastYear), or date range (ie, 'YYYY-MM-DD,YYYY-MM-DD', lastX, previousX).
        required: true
        schema:
          type: string
          example: yesterday
      - name: segment
        in: query
        description: 'Custom segment to filter the report. Example: "referrerName==example.com" Supports AND (;) and OR (,) operators.'
        required: false
        schema:
          type: string
      - name: limitBeforeGrouping
        in: query
        description: Maximum number of transition rows to keep before grouping the remainder.
        required: false
        schema:
          oneOf:
          - type: integer
            default: 0
          - type: string
            default: '0'
      - name: parts
        in: query
        description: Comma-separated list of transition report parts to include, or `all`.
        required: false
        schema:
          type: string
          default: all
      responses:
        '200':
          description: 'Transition metrics and related referrer/action tables for the requested action.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Transitions.isPeriodAllowed:
    get:
      tags:
      - Transitions
      description: Check if a period is allowed by config settings
      operationId: Transitions.isPeriodAllowed
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - $ref: '#/components/parameters/idSiteRequired'
      - $ref: '#/components/parameters/periodRequired'
      - $ref: '#/components/parameters/dateRequired'
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
            application/vnd.ms-excel: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: The method is not available.'
        text/html:
          schema:
            type: string
          example: The method is not available.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    ServerError:
      description: Unexpected server error.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    BadRequest:
      description: Bad request (validation or missing parameters).
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    Unauthorized:
      description: Authentication failed or missing token.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: You must be logged in to access this functionality.'
        text/html:
          schema:
            type: string
          example: You must be logged in to access this functionality.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    Forbidden:
      description: Authenticated but not allowed to access the resource.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: Not authorised.'
        text/html:
          schema:
            type: string
          example: Not authorised.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    DefaultError:
      description: Default error response (any non-2xx).
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
  parameters:
    formatOptional:
      name: format
      in: query
      description: Response format. Defaults to `xml`. Use `original` to get the original PHP data structure.
      required: false
      schema:
        type: string
        default: xml
        enum:
        - xml
        - json
        - csv
        - tsv
        - html
        - rss
        - original
    periodRequired:
      name: period
      in: query
      description: Reporting period.
      required: true
      schema:
        type: string
        enum:
        - day
        - week
        - month
        - year
        - range
        example: day
    idSiteRequired:
      name: idSite
      in: query
      description: Matomo site ID.
      required: true
      schema:
        type: integer
        example: 1
    dateRequired:
      name: date
      in: query
      description: Date or range (e.g. `2025-08-01`, `yesterday`, `last30`, or `2025-08-01,2025-08-11`).
      required: true
      schema:
        type: string
        example: today
  schemas:
    ErrorXml:
      description: Generic Matomo error payload in XML.
      properties:
        error:
          properties:
            message:
              type: string
              xml:
                attribute: true
              example: There was an error
          type: object
          xml:
            name: error
      type: object
      xml:
        name: result
    Error:
      description: Generic Matomo error payload.
      required:
      - result
      - message
      properties:
        result:
          type: string
          example: error
        message:
          type: string
          example: There was an error
        code:
          type: integer
      type: object
      additionalProperties: true
  securitySchemes:
    MatomoToken:
      type: http
      description: Paste your token generated from Personal > Security. Swagger will send it as a Bearer token.
      scheme: bearer
externalDocs:
  description: Matomo Reporting API developer page
  url: https://developer.matomo.org/api-reference/reporting-api/
