openapi: 3.2.0
info:
  title: Matomo Reporting API for plugin Dashboard API
  version: 1.0.0
  description: The Dashboard API lets you manage user dashboards and retrieve their widget configurations.
servers:
- url: https://demo-proxy.innocraft.cloud/
  description: Current Matomo instance
security:
- MatomoToken: []
tags:
- name: Dashboard
  description: The Dashboard API lets you manage user dashboards and retrieve their widget configurations.
paths:
  /index.php?module=API&method=Dashboard.getDashboards:
    get:
      tags:
      - Dashboard
      description: Returns the dashboards available to a user, including the widgets in each dashboard.
      operationId: Dashboard.getDashboards
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: login
        in: query
        description: Login of the user to load dashboards for. Defaults to the current user.
        required: false
        schema:
          type: string
          default: ''
      - name: returnDefaultIfEmpty
        in: query
        description: Whether to return the default dashboard when the user has none.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: 'List of dashboards, each containing name, id, and widgets keys.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Dashboard.createNewDashboardForUser:
    get:
      tags:
      - Dashboard
      description: Creates a new dashboard for a user.
      operationId: Dashboard.createNewDashboardForUser
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: login
        in: query
        description: Login of the user the dashboard should be created for.
        required: true
        schema:
          type: string
          example: alice
      - name: dashboardName
        in: query
        description: Name of the new dashboard.
        required: false
        schema:
          type: string
          default: ''
      - name: addDefaultWidgets
        in: query
        description: Whether to populate the dashboard with the default widget layout.
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: 'ID of the newly created dashboard.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Dashboard.removeDashboard:
    get:
      tags:
      - Dashboard
      description: Removes a dashboard for a user.
      operationId: Dashboard.removeDashboard
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idDashboard
        in: query
        description: ID of the dashboard to remove.
        required: true
        schema:
          type: integer
          example: 1
      - name: login
        in: query
        description: Login of the dashboard owner. Defaults to the current user.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Dashboard.copyDashboardToUser:
    get:
      tags:
      - Dashboard
      description: Copies one of the current user's dashboards to another user. Requires admin access.
      operationId: Dashboard.copyDashboardToUser
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idDashboard
        in: query
        description: ID of the dashboard to copy.
        required: true
        schema:
          type: integer
          example: 1
      - name: copyToUser
        in: query
        description: Login of the user that should receive the dashboard copy.
        required: true
        schema:
          type: string
          example: alice
      - name: dashboardName
        in: query
        description: Name for the copied dashboard.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: 'ID of the newly created dashboard copy.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=Dashboard.resetDashboardLayout:
    get:
      tags:
      - Dashboard
      description: Resets a dashboard to the default widget layout.
      operationId: Dashboard.resetDashboardLayout
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idDashboard
        in: query
        description: ID of the dashboard to reset.
        required: true
        schema:
          type: integer
          example: 1
      - name: login
        in: query
        description: Login of the dashboard owner. Defaults to the current user.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
components:
  schemas:
    GenericSuccessXml:
      description: Generic Matomo success payload in XML.
      required:
      - success
      properties:
        success:
          properties:
            message:
              type: string
              xml:
                attribute: true
              example: ok
          type: object
          xml:
            name: success
      type: object
      xml:
        name: result
      example:
        success:
          message: ok
      additionalProperties: true
    GenericSuccess:
      description: Generic Matomo success payload.
      required:
      - result
      - message
      properties:
        result:
          type: string
          example: success
        message:
          type: string
          example: ok
        code:
          type: integer
          example: '200'
      type: object
      example:
        result: success
        message: ok
      additionalProperties: true
    ErrorXml:
      description: Generic Matomo error payload in XML.
      properties:
        error:
          properties:
            message:
              type: string
              xml:
                attribute: true
              example: There was an error
          type: object
          xml:
            name: error
      type: object
      xml:
        name: result
    Error:
      description: Generic Matomo error payload.
      required:
      - result
      - message
      properties:
        result:
          type: string
          example: error
        message:
          type: string
          example: There was an error
        code:
          type: integer
      type: object
      additionalProperties: true
  responses:
    NotFound:
      description: Resource not found.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: The method is not available.'
        text/html:
          schema:
            type: string
          example: The method is not available.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    ServerError:
      description: Unexpected server error.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    Unauthorized:
      description: Authentication failed or missing token.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: You must be logged in to access this functionality.'
        text/html:
          schema:
            type: string
          example: You must be logged in to access this functionality.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    Forbidden:
      description: Authenticated but not allowed to access the resource.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: Not authorised.'
        text/html:
          schema:
            type: string
          example: Not authorised.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    DefaultError:
      description: Default error response (any non-2xx).
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    GenericSuccess:
      description: Generic 200 response
      content:
        text/plain:
          schema:
            type: string
          example: Success:ok
        text/html:
          schema:
            type: string
          example: '<!-- Success: ok -->'
        application/json:
          schema:
            $ref: '#/components/schemas/GenericSuccess'
        application/xml:
          schema:
            $ref: '#/components/schemas/GenericSuccessXml'
    BadRequest:
      description: Bad request (validation or missing parameters).
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
  parameters:
    formatOptional:
      name: format
      in: query
      description: Response format. Defaults to `xml`. Use `original` to get the original PHP data structure.
      required: false
      schema:
        type: string
        default: xml
        enum:
        - xml
        - json
        - csv
        - tsv
        - html
        - rss
        - original
  securitySchemes:
    MatomoToken:
      type: http
      description: Paste your token generated from Personal > Security. Swagger will send it as a Bearer token.
      scheme: bearer
externalDocs:
  description: Matomo Reporting API developer page
  url: https://developer.matomo.org/api-reference/reporting-api/
