openapi: 3.2.0
info:
  title: Matomo Reporting API for plugin Tag Manager API
  version: 1.0.0
  description: Exposes the Tag Manager API for managing containers, versions, tags, triggers, and variables.  The endpoints also provide installation metadata, publishing workflows, preview controls, and import/export operations. A container may have several versions, and the current editable version is exposed as the "draft" version by {@link TagManager.getContainer}.
servers:
- url: https://demo-proxy.innocraft.cloud/
  description: Current Matomo instance
security:
- MatomoToken: []
tags:
- name: TagManager
  description: Exposes the Tag Manager API for managing containers, versions, tags, triggers, and variables.  The endpoints also provide installation metadata, publishing workflows, preview controls, and import/export operations. A container may have several versions, and the current editable version is exposed as the "draft" version by {@link TagManager.getContainer}.
paths:
  /index.php?module=API&method=TagManager.getAvailableContexts:
    get:
      tags:
      - TagManager
      description: Returns the contexts that currently expose at least one tag type.
      operationId: TagManager.getAvailableContexts
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      responses:
        '200':
          description: 'The available context definitions, such as "web", "android", or "ios".


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
            application/vnd.ms-excel: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableEnvironments:
    get:
      tags:
      - TagManager
      description: Returns the environments that can receive container releases.
      operationId: TagManager.getAvailableEnvironments
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      responses:
        '200':
          description: 'The configured environments, such as "live", "dev", and "staging".


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
            application/vnd.ms-excel: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableEnvironmentsWithPublishCapability:
    get:
      tags:
      - TagManager
      description: Returns the environments the current user can publish to for a site.
      operationId: TagManager.getAvailableEnvironmentsWithPublishCapability
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: 'The publishable environments for the site, excluding "live" when the user lacks that capability.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
            application/vnd.ms-excel: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableTagFireLimits:
    get:
      tags:
      - TagManager
      description: Returns the supported fire limit options for tags.
      operationId: TagManager.getAvailableTagFireLimits
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      responses:
        '200':
          description: 'The available fire limit IDs and translated labels.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
            application/vnd.ms-excel: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableComparisons:
    get:
      tags:
      - TagManager
      description: Returns the comparison operators available for trigger conditions and variable lookup tables.
      operationId: TagManager.getAvailableComparisons
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      responses:
        '200':
          description: 'The supported comparison definitions.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
            application/vnd.ms-excel: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableTagTypesInContext:
    get:
      tags:
      - TagManager
      description: Returns the tag templates that support the requested context.
      operationId: TagManager.getAvailableTagTypesInContext
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idContext
        in: query
        description: The context ID to query, for example "web", "android", or "ios".
        required: true
        schema:
          type: string
          example: web
      responses:
        '200':
          description: 'The tag template metadata available in the context.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableTriggerTypesInContext:
    get:
      tags:
      - TagManager
      description: Returns the trigger templates that support the requested context.
      operationId: TagManager.getAvailableTriggerTypesInContext
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idContext
        in: query
        description: The context ID to query, for example "web", "android", or "ios".
        required: true
        schema:
          type: string
          example: web
      responses:
        '200':
          description: 'The trigger template metadata available in the context.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableVariableTypesInContext:
    get:
      tags:
      - TagManager
      description: Returns the manually creatable variable templates that support the requested context.
      operationId: TagManager.getAvailableVariableTypesInContext
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idContext
        in: query
        description: The context ID to query, for example "web", "android", or "ios".
        required: true
        schema:
          type: string
          example: web
      responses:
        '200':
          description: 'The variable template metadata available in the context, excluding preconfigured variables.


            Example responses require Super User access. Use Try it out to see a live response.'
          content:
            text/xml: []
            application/json: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerEmbedCode:
    get:
      tags:
      - TagManager
      description: Returns the embed code for loading a container release on a website.
      operationId: TagManager.getContainerEmbedCode
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: environment
        in: query
        description: The environment ID to load, for example "live".
        required: true
        schema:
          type: string
          example: live
      responses:
        '200':
          description: 'The HTML and JavaScript embed snippet for the requested container release.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerInstallInstructions:
    get:
      tags:
      - TagManager
      description: Returns installation instructions for embedding a container release.
      operationId: TagManager.getContainerInstallInstructions
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: environment
        in: query
        description: The environment ID to load, for example "live".
        required: true
        schema:
          type: string
          example: live
      - name: jsFramework
        in: query
        description: The JavaScript framework variant to return, for example "react".
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: 'The install instruction steps and metadata for the requested container release.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerTags:
    get:
      tags:
      - TagManager
      description: Returns all configured tags in a container version.
      operationId: TagManager.getContainerTags
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'The configured tags in the requested container version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.createDefaultContainerForSite:
    get:
      tags:
      - TagManager
      description: Creates a default web container for a site with the standard Matomo tracking setup.
      operationId: TagManager.createDefaultContainerForSite
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      responses:
        '200':
          description: 'The ID of the created container.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.addContainerTag:
    get:
      tags:
      - TagManager
      description: Creates a tag in the requested container version.
      operationId: TagManager.addContainerTag
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: type
        in: query
        description: The tag template ID to create, for example "Matomo".
        required: true
        schema:
          type: string
          example: html
      - name: name
        in: query
        description: The display name for the tag.
        required: true
        schema:
          type: string
          example: Pricing
      - name: parameters
        in: query
        description: Parameter values keyed by template parameter name.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: fireTriggerIds
        in: query
        description: Trigger IDs that cause the tag to fire. At least one trigger must be provided.
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: blockTriggerIds
        in: query
        description: Trigger IDs that prevent the tag from firing after they match.
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: fireLimit
        in: query
        description: Fire limit ID to apply to the tag. Use {@link TagManager.getAvailableTagFireLimits} to list supported values.
        required: false
        schema:
          type: string
          default: unlimited
      - name: fireDelay
        in: query
        description: Delay in milliseconds before the tag executes after a fire trigger matches.
        required: false
        schema:
          type: integer
          default: 0
      - name: priority
        in: query
        description: Execution priority for the tag. Lower values run earlier when multiple tags fire together.
        required: false
        schema:
          type: integer
          default: 999
      - name: startDate
        in: query
        description: UTC datetime after which the tag may execute.
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: UTC datetime after which the tag must no longer execute.
        required: false
        schema:
          type: string
      - name: description
        in: query
        description: Optional tag description.
        required: false
        schema:
          type: string
          default: ''
      - name: status
        in: query
        description: Optional initial status for the created tag.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: 'The ID of the created tag.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.updateContainerTag:
    get:
      tags:
      - TagManager
      description: Updates a tag in the requested container version.
      operationId: TagManager.updateContainerTag
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTag
        in: query
        description: The tag ID to update.
        required: true
        schema:
          type: integer
          example: 2
      - name: name
        in: query
        description: The updated display name for the tag.
        required: true
        schema:
          type: string
          example: Pricing
      - name: parameters
        in: query
        description: Parameter values keyed by template parameter name.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: fireTriggerIds
        in: query
        description: Trigger IDs that cause the tag to fire. At least one trigger must be provided.
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: blockTriggerIds
        in: query
        description: Trigger IDs that prevent the tag from firing after they match.
        required: false
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: fireLimit
        in: query
        description: Fire limit ID to apply to the tag. Use {@link TagManager.getAvailableTagFireLimits} to list supported values.
        required: false
        schema:
          type: string
          default: unlimited
      - name: fireDelay
        in: query
        description: Delay in milliseconds before the tag executes after a fire trigger matches.
        required: false
        schema:
          type: integer
          default: 0
      - name: priority
        in: query
        description: Execution priority for the tag. Lower values run earlier when multiple tags fire together.
        required: false
        schema:
          type: integer
          default: 999
      - name: startDate
        in: query
        description: UTC datetime after which the tag may execute.
        required: false
        schema:
          type: string
      - name: endDate
        in: query
        description: UTC datetime after which the tag must no longer execute.
        required: false
        schema:
          type: string
      - name: description
        in: query
        description: Optional tag description.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.deleteContainerTag:
    get:
      tags:
      - TagManager
      description: Deletes a tag from a container version.
      operationId: TagManager.deleteContainerTag
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTag
        in: query
        description: The tag ID to delete.
        required: true
        schema:
          type: integer
          example: 2
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.pauseContainerTag:
    get:
      tags:
      - TagManager
      description: Pauses a tag in a container version.
      operationId: TagManager.pauseContainerTag
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTag
        in: query
        description: The tag ID to pause.
        required: true
        schema:
          type: integer
          example: 2
      responses:
        '200':
          description: 'Returns `true` when the tag was found and paused, or `false` when no matching tag exists.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.resumeContainerTag:
    get:
      tags:
      - TagManager
      description: Resumes a paused tag in a container version.
      operationId: TagManager.resumeContainerTag
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTag
        in: query
        description: The tag ID to resume.
        required: true
        schema:
          type: integer
          example: 2
      responses:
        '200':
          description: 'Returns `true` when the tag was found and resumed, or `false` when no matching tag exists.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerTag:
    get:
      tags:
      - TagManager
      description: Returns the configuration for a specific tag.
      operationId: TagManager.getContainerTag
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTag
        in: query
        description: The tag ID to fetch.
        required: true
        schema:
          type: integer
          example: 2
      responses:
        '200':
          description: 'The tag configuration, or `false` when the tag does not exist in the version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerTriggerReferences:
    get:
      tags:
      - TagManager
      description: Returns the places where a trigger is referenced in a container version.
      operationId: TagManager.getContainerTriggerReferences
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTrigger
        in: query
        description: The trigger ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'The tag references that currently use the trigger.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerTriggers:
    get:
      tags:
      - TagManager
      description: Returns all configured triggers in a container version.
      operationId: TagManager.getContainerTriggers
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'The configured triggers in the requested container version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.addContainerTrigger:
    get:
      tags:
      - TagManager
      description: Creates a trigger in the requested container version.
      operationId: TagManager.addContainerTrigger
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: type
        in: query
        description: The trigger template ID to create, for example "AllElements".
        required: true
        schema:
          type: string
          example: html
      - name: name
        in: query
        description: The display name for the trigger.
        required: true
        schema:
          type: string
          example: Pricing
      - name: parameters
        in: query
        description: Parameter values keyed by template parameter name.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: conditions
        in: query
        description: Trigger conditions that determine when the trigger matches. Use {@link TagManager.getAvailableComparisons} to list supported comparison operators.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: description
        in: query
        description: Optional trigger description.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: 'The ID of the created trigger.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.updateContainerTrigger:
    get:
      tags:
      - TagManager
      description: Updates a trigger in the requested container version.
      operationId: TagManager.updateContainerTrigger
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTrigger
        in: query
        description: The trigger ID to update.
        required: true
        schema:
          type: integer
          example: 3
      - name: name
        in: query
        description: The updated display name for the trigger.
        required: true
        schema:
          type: string
          example: Pricing
      - name: parameters
        in: query
        description: Parameter values keyed by template parameter name.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: conditions
        in: query
        description: Trigger conditions that determine when the trigger matches. Use {@link TagManager.getAvailableComparisons} to list supported comparison operators.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: description
        in: query
        description: Optional trigger description.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.deleteContainerTrigger:
    get:
      tags:
      - TagManager
      description: Deletes a trigger from a container version.
      operationId: TagManager.deleteContainerTrigger
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTrigger
        in: query
        description: The trigger ID to delete.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerTrigger:
    get:
      tags:
      - TagManager
      description: Returns the configuration for a specific trigger.
      operationId: TagManager.getContainerTrigger
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      - name: idTrigger
        in: query
        description: The trigger ID to fetch.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'The trigger configuration, or `false` when the trigger does not exist in the version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerVariableReferences:
    get:
      tags:
      - TagManager
      description: Returns the places where a variable is referenced in a container version.
      operationId: TagManager.getContainerVariableReferences
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      - name: idVariable
        in: query
        description: The variable ID to inspect.
        required: true
        schema:
          type: integer
          example: 4
      responses:
        '200':
          description: 'The tag, trigger, and variable references that currently use the variable.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerVariables:
    get:
      tags:
      - TagManager
      description: Returns the manually configured variables in a container version.
      operationId: TagManager.getContainerVariables
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'The manually configured variables in the requested container version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getAvailableContainerVariables:
    get:
      tags:
      - TagManager
      description: Returns the manual and preconfigured variables available in a container version.
      operationId: TagManager.getAvailableContainerVariables
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'The formatted variable metadata available in the container version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.addContainerVariable:
    get:
      tags:
      - TagManager
      description: Creates a variable in the requested container version.
      operationId: TagManager.addContainerVariable
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: type
        in: query
        description: The variable template ID to create.
        required: true
        schema:
          type: string
          example: html
      - name: name
        in: query
        description: The display name for the variable.
        required: true
        schema:
          type: string
          example: Pricing
      - name: parameters
        in: query
        description: Parameter values keyed by template parameter name.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: defaultValue
        in: query
        description: Optional fallback value returned when the variable resolves to no value.
        required: false
        schema:
          oneOf:
          - type: number
          - type: integer
          - type: string
      - name: lookupTable
        in: query
        description: Lookup rules for variable value translation. Use {@link TagManager.getAvailableComparisons} to list supported comparison operators.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: description
        in: query
        description: Optional variable description.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: 'The ID of the created variable.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.updateContainerVariable:
    get:
      tags:
      - TagManager
      description: Updates a variable in the requested container version.
      operationId: TagManager.updateContainerVariable
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idVariable
        in: query
        description: The variable ID to update.
        required: true
        schema:
          type: integer
          example: 4
      - name: name
        in: query
        description: The updated display name for the variable.
        required: true
        schema:
          type: string
          example: Pricing
      - name: parameters
        in: query
        description: Parameter values keyed by template parameter name.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: defaultValue
        in: query
        description: Optional fallback value returned when the variable resolves to no value.
        required: false
        schema:
          oneOf:
          - type: number
          - type: integer
          - type: string
      - name: lookupTable
        in: query
        description: Lookup rules for variable value translation. Use {@link TagManager.getAvailableComparisons} to list supported comparison operators.
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: description
        in: query
        description: Optional variable description.
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.deleteContainerVariable:
    get:
      tags:
      - TagManager
      description: Deletes a variable from a container version.
      operationId: TagManager.deleteContainerVariable
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to modify.
        required: true
        schema:
          type: integer
          example: 3
      - name: idVariable
        in: query
        description: The variable ID to delete.
        required: true
        schema:
          type: integer
          example: 4
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerVariable:
    get:
      tags:
      - TagManager
      description: Returns the configuration for a specific variable.
      operationId: TagManager.getContainerVariable
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The numeric ID of the website to query.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The container ID, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The container version ID to inspect.
        required: true
        schema:
          type: integer
          example: 3
      - name: idVariable
        in: query
        description: The variable ID to fetch.
        required: true
        schema:
          type: integer
          example: 4
      responses:
        '200':
          description: 'The variable configuration, or `false` when the variable does not exist in the version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainers:
    get:
      tags:
      - TagManager
      description: Get a list of all available containers within a site.
      operationId: TagManager.getContainers
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - $ref: '#/components/parameters/idSiteRequired'
      responses:
        '200':
          $ref: '#/components/responses/GenericArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.addContainer:
    get:
      tags:
      - TagManager
      description: Create a new container within the given site.
      operationId: TagManager.addContainer
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The ID of the site this container should belong to
        required: true
        schema:
          type: integer
          example: 1
      - name: context
        in: query
        description: The ID of a context, for example "web". To get a list of available contexts call {@link TagManager.getAvailableContexts}
        required: true
        schema:
          type: string
          example: web
      - name: name
        in: query
        description: The name this container should have.
        required: true
        schema:
          type: string
          example: Pricing
      - name: description
        in: query
        description: Optionally a description for this container
        required: false
        schema:
          type: string
          default: ''
      - name: ignoreGtmDataLayer
        in: query
        description: Optionally indicate that we should ignore GTM dataLayer values
        required: false
        schema:
          type: integer
          default: 0
      - name: isTagFireLimitAllowedInPreviewMode
        in: query
        description: Optionally indicate that we should respect fire tag limits when in preview mode
        required: false
        schema:
          type: integer
          default: 0
      - name: activelySyncGtmDataLayer
        in: query
        description: Optionally indicate that we should actively sync new events from the GTM dataLayer to MTM
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: 'The ID of the created container.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.updateContainer:
    get:
      tags:
      - TagManager
      description: Updates the given container and its settings.
      operationId: TagManager.updateContainer
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The ID of the site this container belongs to.
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The ID of the container you want to update, for example "6OMh6taM".
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: name
        in: query
        description: The name this container should have.
        required: true
        schema:
          type: string
          example: Pricing
      - name: description
        in: query
        description: Optionally a description for this container.
        required: false
        schema:
          type: string
          default: ''
      - name: ignoreGtmDataLayer
        in: query
        description: Optionally indicate that we should ignore GTM dataLayer values
        required: false
        schema:
          type: integer
          default: 0
      - name: isTagFireLimitAllowedInPreviewMode
        in: query
        description: Optionally indicate that we should respect fire tag limits when in preview mode
        required: false
        schema:
          type: integer
          default: 0
      - name: activelySyncGtmDataLayer
        in: query
        description: Optionally indicate that we should actively sync new events from the GTM dataLayer to MTM
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: 'The ID of the updated container.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.createContainerVersion:
    get:
      tags:
      - TagManager
      description: Creates a new version from either the current draft version or the given container version.
      operationId: TagManager.createContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: name
        in: query
        description: The name this version should have
        required: true
        schema:
          type: string
          example: Pricing
      - name: description
        in: query
        description: Optionally the description this version should have
        required: false
        schema:
          type: string
          default: ''
      - name: idContainerVersion
        in: query
        description: By default, a new version based on the current draft version will be created. You can also create a new version from a previously created version.
        required: false
        schema:
          oneOf:
          - type: integer
          - type: string
      responses:
        '200':
          description: 'The ID of the created version.


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.updateContainerVersion:
    get:
      tags:
      - TagManager
      description: Updates a container version.
      operationId: TagManager.updateContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The id of the version you want to update
        required: true
        schema:
          type: integer
          example: 3
      - name: name
        in: query
        description: The new name this version should have
        required: true
        schema:
          type: string
          example: Pricing
      - name: description
        in: query
        description: Optionally the new description this version should have
        required: false
        schema:
          type: string
          default: ''
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerVersions:
    get:
      tags:
      - TagManager
      description: Get a list of all versions that exist for the given container.
      operationId: TagManager.getContainerVersions
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      responses:
        '200':
          $ref: '#/components/responses/GenericArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainerVersion:
    get:
      tags:
      - TagManager
      description: Get details about a specific container version.
      operationId: TagManager.getContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The ID of the container version, a container may have multiple versions and the list of variable will be different per container. Therefore you need to provide the ID of the version you are referring to.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          $ref: '#/components/responses/GenericArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.deleteContainerVersion:
    get:
      tags:
      - TagManager
      description: Delete a specific container version.
      operationId: TagManager.deleteContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The ID of the container version, a container may have multiple versions and the list of variable will be different per container. Therefore you need to provide the ID of the version you are referring to.
        required: true
        schema:
          type: integer
          example: 3
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.publishContainerVersion:
    get:
      tags:
      - TagManager
      description: Publish (release) a container version to the given environment.
      operationId: TagManager.publishContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The ID of the container version, a container may have multiple versions and the list of variable will be different per container. Therefore you need to provide the ID of the version you are referring to.
        required: true
        schema:
          type: integer
          example: 3
      - name: environment
        in: query
        description: The ID of the environment to which you want to publish this version to
        required: true
        schema:
          type: string
          example: live
      responses:
        '200':
          $ref: '#/components/responses/GenericArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.deleteContainer:
    get:
      tags:
      - TagManager
      description: Deletes a container including all versions, releases, etc.
      operationId: TagManager.deleteContainer
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.getContainer:
    get:
      tags:
      - TagManager
      description: Get details about a specific container including existing versions, releases, the ID of the draft version, etc.
      operationId: TagManager.getContainer
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      responses:
        '200':
          $ref: '#/components/responses/GenericArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.enablePreviewMode:
    get:
      tags:
      - TagManager
      description: Enables the preview/debug mode for the given container. The preview mode will be enabled for all environments a container has releases for. To enable the preview mode for a specific version instead of the current draft, ensure to set a container version.
      operationId: TagManager.enablePreviewMode
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The ID of the container version, a container may have multiple versions and the list of variable will be different per container. Therefore you need to provide the ID of the version you are referring to. If no value is provided, the preview mode will be enabled for the current "draft" version.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.disablePreviewMode:
    get:
      tags:
      - TagManager
      description: Disables the preview/debug mode for the given container.
      operationId: TagManager.disablePreviewMode
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The ID of the container version, a container may have multiple versions and the list of variable will be different per container. Therefore you need to provide the ID of the version you are referring to. If no value is provided, the preview mode will be enabled for the current "draft" version.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.changeDebugUrl:
    get:
      tags:
      - TagManager
      description: Updates the debug siteurl cookie
      operationId: TagManager.changeDebugUrl
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: url
        in: query
        description: The url to enable debug
        required: true
        schema:
          type: string
          example: https://example.org/pricing
      responses:
        '200':
          description: 'OK


            Example responses require Super User access. Use Try it out to see a live response.'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.exportContainerVersion:
    get:
      tags:
      - TagManager
      description: Exports a container version including all details such as the configured tags, triggers, and variables within this version. You can use this export to import it into a different container version for example. By default, the current draft will be exported unless you specify a specific container version.
      operationId: TagManager.exportContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: idContainerVersion
        in: query
        description: The ID of the container version, a container may have multiple versions and the list of variable will be different per container. Therefore you need to provide the ID of the version you are referring to. If no version is provided, the current "draft" version will be used.
        required: false
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/GenericArray'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
  /index.php?module=API&method=TagManager.importContainerVersion:
    get:
      tags:
      - TagManager
      description: Import all tags, triggers, and variables from the given import. Please note that this will delete / remove the all current tags, triggers, and variables from the current draft version and then import all tags, triggers, and variables from a previously exported container version. To not lose the current draft configuration, specify a backup name so nothing gets lost in case you ever want to revert.
      operationId: TagManager.importContainerVersion
      parameters:
      - $ref: '#/components/parameters/formatOptional'
      - name: exportedContainerVersion
        in: query
        description: A JSON formatted string containing a previously exported container version.
        required: true
        schema:
          type: string
          example: live-v3
      - name: idSite
        in: query
        description: The id of the site the given container belongs to
        required: true
        schema:
          type: integer
          example: 1
      - name: idContainer
        in: query
        description: The id of a container, for example "6OMh6taM"
        required: true
        schema:
          type: string
          example: GTMNZ123
      - name: backupName
        in: query
        description: If specified, a backup of the current draft will be created under this version name.
        required: false
        schema:
          type: string
          default: ''
      - name: _isDraftRestoreCall
        in: query
        description: A boolean parameter to specify, if its a backup restore call to avoid nesting exception if backup version has errors
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          $ref: '#/components/responses/GenericSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/DefaultError'
components:
  schemas:
    GenericSuccessXml:
      description: Generic Matomo success payload in XML.
      required:
      - success
      properties:
        success:
          properties:
            message:
              type: string
              xml:
                attribute: true
              example: ok
          type: object
          xml:
            name: success
      type: object
      xml:
        name: result
      example:
        success:
          message: ok
      additionalProperties: true
    GenericSuccess:
      description: Generic Matomo success payload.
      required:
      - result
      - message
      properties:
        result:
          type: string
          example: success
        message:
          type: string
          example: ok
        code:
          type: integer
          example: '200'
      type: object
      example:
        result: success
        message: ok
      additionalProperties: true
    ErrorXml:
      description: Generic Matomo error payload in XML.
      properties:
        error:
          properties:
            message:
              type: string
              xml:
                attribute: true
              example: There was an error
          type: object
          xml:
            name: error
      type: object
      xml:
        name: result
    Error:
      description: Generic Matomo error payload.
      required:
      - result
      - message
      properties:
        result:
          type: string
          example: error
        message:
          type: string
          example: There was an error
        code:
          type: integer
      type: object
      additionalProperties: true
  responses:
    NotFound:
      description: Resource not found.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: The method is not available.'
        text/html:
          schema:
            type: string
          example: The method is not available.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    ServerError:
      description: Unexpected server error.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    Unauthorized:
      description: Authentication failed or missing token.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: You must be logged in to access this functionality.'
        text/html:
          schema:
            type: string
          example: You must be logged in to access this functionality.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    Forbidden:
      description: Authenticated but not allowed to access the resource.
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: Not authorised.'
        text/html:
          schema:
            type: string
          example: Not authorised.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    DefaultError:
      description: Default error response (any non-2xx).
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
    GenericSuccess:
      description: Generic 200 response
      content:
        text/plain:
          schema:
            type: string
          example: Success:ok
        text/html:
          schema:
            type: string
          example: '<!-- Success: ok -->'
        application/json:
          schema:
            $ref: '#/components/schemas/GenericSuccess'
        application/xml:
          schema:
            $ref: '#/components/schemas/GenericSuccessXml'
    GenericArray:
      description: Generic 200 response with array body
      content:
        text/plain:
          schema:
            type: string
        text/html:
          schema:
            type: string
        application/json:
          schema:
            type: array
            items: []
        application/xml:
          schema:
            type: array
            items: []
    BadRequest:
      description: Bad request (validation or missing parameters).
      content:
        text/plain:
          schema:
            type: string
          example: 'Error: There was an error.'
        text/html:
          schema:
            type: string
          example: There was an error.
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorXml'
  parameters:
    formatOptional:
      name: format
      in: query
      description: Response format. Defaults to `xml`. Use `original` to get the original PHP data structure.
      required: false
      schema:
        type: string
        default: xml
        enum:
        - xml
        - json
        - csv
        - tsv
        - html
        - rss
        - original
    idSiteRequired:
      name: idSite
      in: query
      description: Matomo site ID.
      required: true
      schema:
        type: integer
        example: 1
  securitySchemes:
    MatomoToken:
      type: http
      description: Paste your token generated from Personal > Security. Swagger will send it as a Bearer token.
      scheme: bearer
externalDocs:
  description: Matomo Reporting API developer page
  url: https://developer.matomo.org/api-reference/reporting-api/
